:root {
    --glass-bg: rgba(0, 0, 0, 0.7);
    --glass-blur: blur(4px);
    --glass-radius: 3px;
    --text-color: rgba(255, 255, 255, 0.85);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #292929;
}

.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: var(--text-color);
}

/* .nav-menu {
    width: 15%;
    height: 100%;
} */

.hero-section {
    background-image: url(images/wallpaper.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position-x: center;
    background-position-y: top;border-radius: 5px;
    opacity: 1;
    width: 85%;
    min-height: 100vh;
    color: var(--text-color);
    position: relative;
}

.overlay {
    width: 100%;
    position: relative;
    inset: 0;
    background: rgba(0, 0, 0, 0.02); /* adjust brightness here */
    z-index: 0;
}

.overlay > * {
    position: relative;
    z-index: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.task-container {
    padding: 20px;
    margin-top: 10px;
    width: 100%;
    height: 100px;
    max-height: auto;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    overscroll-behavior: auto;
}

ul li {
    list-style: none;
    background: var(--glass-bg); /* adjust brightness here */
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: var(--glass-blur);
    background-blend-mode: color-burn;
    border-radius: var(--glass-radius);
    padding: 5px 8px;
    margin-bottom: 2px;
    font-size: 0.8rem;
    font-weight: lighter;
}

.todo-form {
    background: var(--glass-bg);
    backdrop-filter: var(--glass-blur);
    -webkit-backdrop-filter: var(--glass-blur);
    max-width: 400px;
    width: 600px;
    min-width: 300px;
    position: fixed;
    bottom: 50px;
    border-radius: var(--glass-radius);
    cursor: text;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.task-button {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid white;
    background: none;
    margin: 10px 0;
    margin-left: 10px;
    cursor: pointer;
}

.input-wrapper {
    width: 100%;
}

.input-box {   
    background-color: transparent !important;
    border: none;
    outline: none;
    color: var(--text-color);
    width: 100%;
    padding: 10px 0px 12px;
}

.input-box::placeholder {
    color: rgba(255, 255, 255, 0.60);
}
